@model Exam

@{
    ViewData["Title"] = "Sınav Oluştur";
    Layout = "_Layout";
}


<hr />
<div class="col-md-12">
    <partial name="_ResultStatusPartial" model="@ViewBag.ResultStatus" />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TextTitle" class="control-label"></label>
            <input asp-for="TextTitle" class="form-control" />
            <span asp-validation-for="TextTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Text" class="control-label"></label>
            <textarea asp-for="Text" class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        @{

            for (int i = 0; i < 4; i++)
            {
                var emptyQuestion = new Question();               

                Model.Questions.Add(emptyQuestion);

                <div class="form-group">
                    <input asp-for="@Model.Questions[i].QuestionContent" class="form-control mb-2" />
                    <span asp-validation-for="@Model.Questions[i].QuestionContent" class="text-danger"></span>
                    <div class="row container">
                        <input asp-for="@Model.Questions[i].A" class="form-control col-md-6 mb-2" />
                        <span asp-validation-for="@Model.Questions[i].A" class="text-danger"></span>
                        <input asp-for="@Model.Questions[i].B" class="form-control col-md-6 mb-2" />
                        <span asp-validation-for="@Model.Questions[i].B" class="text-danger"></span>
                        <input asp-for="@Model.Questions[i].C" class="form-control col-md-6 mb-2" />
                        <span asp-validation-for="@Model.Questions[i].C" class="text-danger"></span>
                        <input asp-for="@Model.Questions[i].D" class="form-control col-md-6 mb-2" />
                        <span asp-validation-for="@Model.Questions[i].D" class="text-danger"></span>
                    </div>
                    @*<select asp-for="@Model.Questions[i].Answer" class="form-control" asp-items="Html.GetEnumSelectList<Answer>()">
                      <option>Doğru Cevap seç</option> </select>*@

                    <select asp-for="@Model.Questions[i].Answer" class="form-control">

                        @foreach (Answer amswer in Enum.GetValues(typeof(Answer)))
                        {
                            <option selected="false">@amswer</option>
                        }
                        <option selected="selected">Doğru Cevap seç</option>
                    </select>
                    <span asp-validation-for="@Model.Questions[i].Answer" class="text-danger"></span>
                </div>
            }
        }
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

