@model ExamApp.Entity.Exam
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="card site-border site-shadow">
        <div class="card-header site-bg">
            <h5>Silmek İstediğinize Emin Misiniz?</h5>
        </div>
        <div class="card-body p-1 p-md-5">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TextTitle)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TextTitle)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.Raw(Model.Text)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                 
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="text-right">
                        <a class="btn btn-outline-warning mr-2" asp-action="Index">Listeye Dön</a>
                        <input type="submit" value="Sil" class="btn btn-outline-danger" />
                    </div>
                    

                </form>
            </div>
        </div>

    </div>
</div>
