@model IEnumerable<ExamApp.Entity.Exam>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="card site-border site-shadow">
        <div class="card-header site-bg d-flex justify-content-between">
            <h5>Sınavlar</h5>
            <a asp-action="Create" class="btn btn-outline-primary"> Sınav Ekle</a>

        </div>

        <div class="card-body p-1 p-md-5">
            <div class="col-md-12">
                <partial name="_ResultStatusPartial" model="@ViewBag.ResultStatus" />
                <div class="table-responsive">
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Tarih</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(Model.ToList().IndexOf(item)+1)</td>
                                        <td>@item.TextTitle</td>
                                        <td>@item.CreatedAt.ToString("yyyy-MM-dd")</td>
                                        <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>